@charset "utf-8";
/* CSS Document */

h1 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 30px;
	font-weight: bold;
}
p1 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
h2 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 30px;
	font-weight: bold;
}
p3 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}